<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ready To Start!</title>
    <style>
        body {
            background-color: lime;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Money Laundering Simulator 2!!!!!!!!</h1>
    <sub>Made By Walnut!!!!!!!!!!!!!!</sub>

    <form action="/" method="post">
        <input type="submit" value="Start!!!!!!!!!">
    </form>
</body>
</html>